<h1>New evento</h1>

<% form_for(@evento) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
<p>
	<%= 
	 
	@clientes = Cliente.buscar_clientes.map {|u| [u.nombre, u.id] }
	select(:cliente, :id_cliente, @clientes) 
	%>
</p>
  <p>
    <%= f.label :fecha %><br />
    <%= f.date_select :fecha %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', eventos_path %>
